* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}

body {
  transition: 0.5s;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

.top {
  padding: 15px;
  background: #454f5b;
  .toop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    .top-text {
      margin: auto;
      p {
        max-width: 550px;
        color: #fff;
        font-family: sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 26px;
        letter-spacing: 0.12em;
        text-align: left;
      }
      .two-text {
        display: none;
      }
    }
    .top-link {
      a {
        width: 170px;
        display: block;
        font-family: sans-serif;
        color: #fff;
        font-size: 16px;
        font-weight: 500;
        line-height: 26px;
        letter-spacing: 0.12em;
        text-align: left;
      }
    }
  }
}

header {
  padding: 20px 0;
  border-bottom: 1px solid #c4cdd5;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 100;
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    .nav-items {
      display: flex;
      align-items: center;
      gap: 32px;
      a {
        text-decoration: none;
        font-family: sans-serif;
        font-size: 20px;
        font-weight: 300;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: #161c24;
        transition: 0.4s;
        font-weight: 400;
        &:hover {
          color: #b1b0b0;
        }
      }
      select {
        cursor: pointer;
        border: 0;
        font-family: sans-serif;
        font-size: 20px;
        font-weight: 300;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: #161c24;
        outline: none;
        transition: 0.4s;
        &:hover {
          color: #75787c;
        }
      }
    }
    .nav-btns {
      display: flex;
      align-items: center;
      gap: 30px;
      .btn-link {
        display: flex;
        align-items: end;
        gap: 12px;
        a {
          text-decoration: none;
          font-family: sans-serif;
          font-size: 18px;
          font-weight: 400;
          line-height: 21px;
          letter-spacing: 0em;
          text-align: left;
          color: #454f5b;
        }
      }
      button {
        cursor: pointer;
        background: transparent;
        border: 0;
      }
      .btn-like {
        .like {
          fill: #454f5b;
        }
        .like.red {
          fill: red;
        }
      }
      .burger {
        display: none;
        .burger {
          position: relative;
          width: 40px;
          height: 30px;
          background: transparent;
          cursor: pointer;
          display: block;
        }

        .burger input {
          display: none;
        }

        .burger span {
          display: block;
          position: absolute;
          height: 4px;
          width: 100%;
          background: black;
          border-radius: 9px;
          opacity: 1;
          left: 0;
          transform: rotate(0deg);
          transition: 0.25s ease-in-out;
        }

        .burger span:nth-of-type(1) {
          top: 0px;
          transform-origin: left center;
        }

        .burger span:nth-of-type(2) {
          top: 50%;
          transform: translateY(-50%);
          transform-origin: left center;
        }

        .burger span:nth-of-type(3) {
          top: 100%;
          transform-origin: left center;
          transform: translateY(-100%);
        }

        .burger input:checked ~ span:nth-of-type(1) {
          transform: rotate(45deg);
          top: 0px;
          left: 5px;
        }

        .burger input:checked ~ span:nth-of-type(2) {
          width: 0%;
          opacity: 0;
        }

        .burger input:checked ~ span:nth-of-type(3) {
          transform: rotate(-45deg);
          top: 28px;
          left: 5px;
        }
      }
      .cart2 {
        display: none;
      }
    }
  }
  @media only screen and (max-width: 960px) {
    nav {
      .nav-items {
        width: 90%;
        position: fixed;
        top: 86.5px;
        left: -90%;
        display: flex;
        flex-direction: column;
        gap: 32px;
        background: #fff;
        padding: 25px;
        transition: 0.4s;
        z-index: 100;
        box-shadow: 3px 3px 10px rgb(0, 0, 0, 0.2);
      }
      .nav-items.show {
        // top: 85px;
        left: 0;
      }
      .nav-btns {
        .btn-link {
          display: none;
        }
        .burger {
          display: block;
        }
      }
    }
  }
}

@media only screen and (max-width: 810px) {
  .top {
    .toop {
      .top-text {
        .one-text {
          display: none;
        }
        .two-text {
          display: block;
        }
      }
    }
  }
}
@media only screen and (max-width: 450px) {
  .top {
    display: none;
  }
}

main {
  .product {
    padding-bottom: 120px;
    .content {
      padding-top: 20px;
      a {
        font-family: sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        text-align: left;
        color: #161c24;
      }
      h1 {
        padding: 40px 0 60px;
        display: flex;
        align-items: center;
        gap: 12px;
        font-family: sans-serif;
        font-size: 28px;
        font-weight: 600;
        line-height: 42px;
        text-align: left;
        color: #000;
        p {
          font-family: sans-serif;
          font-size: 18px;
          font-weight: 300;
          line-height: 28px;
          text-align: left;
          color: #000;
        }
      }
      .cards {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 32px;
        flex-wrap: wrap;
        .card {
          position: relative;
          button {
            border: none;
            background: #fff;
            cursor: pointer;
          }
          width: 280px;

          border: 1px solid #e3e3e3;
          img {
            width: 100%;
          }
          .card-content {
            padding: 10px;
            h4 {
              max-width: 300px;
              text-align: start;
              //styleName: 16/reg 16 \ 26;
              font-family: sans-serif;
              font-size: 16px;
              font-weight: 400;
              line-height: 26px;
              text-align: left;
              color: #454f5b;
            }
            .price {
              text-align: start;
              font-family: sans-serif;
              font-size: 20px;
              font-weight: 600;
              line-height: 23.87px;
              text-align: left;
              color: #161c24;
              padding-bottom: 5px;
              del {
                color: #454f5b;
                font-family: sans-serif;
                font-size: 18px;
                font-weight: 300;
                line-height: 21.48px;
                text-align: left;
                padding-left: 5px;
              }
            }
            b {
              position: absolute;
              top: 14px;
              left: 10px;
              font-family: sans-serif;
              font-size: 14px;
              font-weight: 400;
              line-height: 16.71px;
              text-align: left;
              color: #454f5b;
            }
            .sale {
              position: absolute;
              top: 8px;
              right: 5px;
              background: #fff;
              padding: 5px 10px;
              box-shadow: 2px 2px 5px rgba(73, 73, 73, 0.2);
              font-family: sans-serif;
              font-size: 12px;
              font-weight: 400;
              line-height: 14.32px;
              text-align: left;
              color: #161c24;
            }
            .gift {
              position: absolute;
              top: 50px;
              left: 10px;
              z-index: 1;
              padding: 5px 10px;
              font-family: sans-serif;
              font-size: 12px;
              font-weight: 400;
              line-height: 14.32px;
              text-align: left;
              color: #161c24;
              background: #ffffffd1;
              box-shadow: 1px 1px 5px rgba(73, 73, 73, 0.2);
            }
          }
        }
      }
    }
  }
  .info {
    .cards {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 32px;
      flex-wrap: wrap;
      .card {
        padding: 15px;
        max-width: 600px;
        .checked {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          gap: 16px;
          .check {
            width: 215px;
            display: flex;
            align-items: center;
            gap: 4px;
            .text {
              font-family: sans-serif;
              font-size: 20px;
              font-weight: 400;
              line-height: 24px;
              text-align: left;
              color: #161c24;
            }
            img {
              width: 16px;
            }
          }
        }
        img {
          width: 100%;
        }
        h3 {
          //styleName: bold 32 \ 42;
          font-family: sans-serif;
          font-size: 32px;
          font-weight: 600;
          line-height: 42px;
          text-align: left;
          color: #161c24;
        }
        .card-text {
          padding: 24px 0;
          //styleName: reg 18 \ 32;
          font-family: sans-serif;
          font-size: 18px;
          font-weight: 400;
          line-height: 32px;
          text-align: left;
          color: #454f5b;
        }
      }
    }
  }
  .contact {
    background: #f2f8ff;
    .content {
      h1 {
        //styleName: H1 ;
        font-family: sans-serif;
        font-size: 44px;
        font-weight: 600;
        line-height: 62px;
        text-align: center;
        color: #161c24;
        padding: 64px 0px 24px 0px;
      }
      p {
        max-width: 518px;
        //styleName: 16/reg 16 \ 26;
        font-family: sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        text-align: center;
        margin: auto;
        color: #454f5b;
        padding-bottom: 24px;
      }
      form {
        padding-bottom: 56px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 24px;
        flex-wrap: wrap;
        input {
          width: 240px;
          padding: 12px 16px;
          outline: none;
          border: transparent;
          background: #161c240a;
          //styleName: 16/reg 16 \ 26;
          font-family: sans-serif;
          font-size: 16px;
          font-weight: 400;
          line-height: 26px;
          text-align: left;
          color: #454545;
        }
        button {
          width: 240px;
          padding: 12px 0;
          border: transparent;
          background: #4295e4;
          //styleName: button txt;
          font-family: sans-serif;
          font-size: 16px;
          font-weight: 500;
          line-height: 26px;
          text-align: center;
          color: #fff;
          cursor: pointer;
          transition: 0.4s;
          &:hover {
            background: #2b71b2;
          }
        }
      }
    }
  }

  @media only screen and (max-width: 547px) {
    .product {
      .content {
        h1 {
          font-size: 20px;
          line-height: 32px;
        }
      }
    }
    .info {
      .cards {
        .card {
          h3 {
            font-size: 24px;
          }
        }
      }
    }
    .contact {
      .content {
        h1 {
          font-size: 24px;
        }
      }
    }
  }
}

footer {
  padding: 64px 0;
  background: #0d2436;
  .cards {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 32px;
    flex-wrap: wrap;
    .card {
      .Logo {
        padding-bottom: 140px;
      }
      .links {
        display: flex;
        align-items: center;
        gap: 20px;
      }
      h3 {
        //styleName: medium 18 \ 28;
        font-family: sans-serif;
        font-size: 18px;
        font-weight: 500;
        line-height: 28px;
        text-align: left;
        color: #fff;
        padding-bottom: 52px;
      }
      .link {
        max-width: 150px;
        //styleName: 16/light 16 \ 26;
        font-family: sans-serif;
        font-size: 16px;
        font-weight: 300;
        line-height: 26px;
        text-align: left;
        color: #fff;
        display: block;
      }
      .link + .links {
        padding-top: 16px;
      }
      p {
        //styleName: 14/light 14 \ 24;
        font-family: sans-serif;
        font-size: 14px;
        font-weight: 300;
        line-height: 24px;
        text-align: left;
        color: #c4cdd5;
        padding: 5px 0;
      }
    }
  }
  .foot-bottom {
    padding-top: 50px;
    .line {
      background: #ffffff;
      height: 1px;
      opacity: 0.3;
      max-width: 100%;
    }
    p {
      font-family: sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 16.71px;
      text-align: center;
      color: #fff;
      opacity: 0.3;
      padding-top: 24px;
    }
  }
}

.dark {
  header {
    background: #9d9d9d;
    nav {
      .nav-items {
        a {
          color: #fff;
        }
        select {
          background: #9d9d9d;
          color: #fff;
        }
      }
      .nav-btns {
        .btn-link {
          a {
            color: #fff;
          }
        }
        .cart1 {
          display: none;
        }
        .cart2 {
          width: 36px;
          display: block;
        }
      }
    }
  }
  main {
    background: #666;
    .product {
      .content {
        a {
          color: #fff;
        }
        h1 {
          color: #fff;
          p {
            color: #fff;
          }
        }
        .cards {
          .card {
            background: #ccc;
            h4 {
              color: #090a08;
            }
            p {
              color: #db4141 !important;
            }
          }
        }
      }
    }
    .info {
      .cards {
        .card {
          h3 {
            color: #fff;
          }
          p {
            color: #fff;
          }
          .checked {
            .check {
              .text {
                color: #fff;
              }
            }
          }
        }
      }
    }
    .contact {
      background: #9db4c9;
      .content {
        h1 {
          color: #fff;
        }
        p {
          color: #fff;
        }
        form {
          input {
            background: #ccc;
            color: #ddd;
          }
        }
      }
    }
  }
  footer {
    background: rgb(7, 68, 128);
    .foot-bottom {
      p {
        color: #fff;
        opacity: 0.8;
      }
    }
  }
}
