* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

body.dark {
  background: #000;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

.top {
  padding: 15px;
  background: #454f5b;
}
.top .toop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}
.top .toop .top-text {
  margin: auto;
}
.top .toop .top-text p {
  max-width: 550px;
  color: #fff;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.12em;
  text-align: left;
}
.top .toop .top-text .two-text {
  display: none;
}
.top .toop .top-link a {
  width: 170px;
  display: block;
  font-family: sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.12em;
  text-align: left;
}

header {
  padding: 20px 0;
  border-bottom: 1px solid #c4cdd5;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 100;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}
header nav .nav-items {
  display: flex;
  align-items: center;
  gap: 32px;
}
header nav .nav-items a {
  text-decoration: none;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #161c24;
  transition: 0.4s;
  font-weight: 400;
}
header nav .nav-items a:hover {
  color: #b1b0b0;
}
header nav .nav-items select {
  cursor: pointer;
  border: 0;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #161c24;
  outline: none;
  transition: 0.4s;
}
header nav .nav-items select:hover {
  color: #75787c;
}
header nav .nav-btns {
  display: flex;
  align-items: center;
  gap: 30px;
}
header nav .nav-btns .btn-link {
  display: flex;
  align-items: end;
  gap: 12px;
}
header nav .nav-btns .btn-link a {
  text-decoration: none;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #454f5b;
}
header nav .nav-btns button {
  cursor: pointer;
  background: transparent;
  border: 0;
}
header nav .nav-btns .btn-like .like {
  fill: #454f5b;
}
header nav .nav-btns .btn-like .like.red {
  fill: red;
}
header nav .nav-btns .burger {
  display: none;
}
header nav .nav-btns .burger .burger {
  position: relative;
  width: 40px;
  height: 30px;
  background: transparent;
  cursor: pointer;
  display: block;
}
header nav .nav-btns .burger .burger input {
  display: none;
}
header nav .nav-btns .burger .burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: black;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}
header nav .nav-btns .burger .burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}
header nav .nav-btns .burger .burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}
header nav .nav-btns .burger .burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}
header nav .nav-btns .burger .burger input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 5px;
}
header nav .nav-btns .burger .burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}
header nav .nav-btns .burger .burger input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 28px;
  left: 5px;
}
@media only screen and (max-width: 960px) {
  header nav .nav-items {
    width: 90%;
    position: fixed;
    top: 86.5px;
    left: -90%;
    display: flex;
    flex-direction: column;
    gap: 32px;
    background: #fff;
    padding: 25px;
    transition: 0.4s;
    z-index: 100;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  }
  header nav .nav-items.show {
    left: 0;
  }
  header nav .nav-btns .btn-link {
    display: none;
  }
  header nav .nav-btns .burger {
    display: block;
  }
}

@media only screen and (max-width: 810px) {
  .top .toop .top-text .one-text {
    display: none;
  }
  .top .toop .top-text .two-text {
    display: block;
  }
}
@media only screen and (max-width: 450px) {
  .top {
    display: none;
  }
}
main .product {
  padding-bottom: 120px;
}
main .product .content a {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  color: #161c24;
  padding-top: 20px;
}
main .product .content h1 {
  padding: 40px 0 60px;
  display: flex;
  align-items: center;
  gap: 12px;
  font-family: sans-serif;
  font-size: 28px;
  font-weight: 600;
  line-height: 42px;
  text-align: left;
  color: #000;
}
main .product .content h1 p {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  text-align: left;
  color: #000;
}
main .product .content .cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  flex-wrap: wrap;
}
main .product .content .cards .card {
  position: relative;
  width: 280px;
  border: 1px solid #e3e3e3;
}
main .product .content .cards .card button {
  border: none;
  background: #fff;
  cursor: pointer;
}
main .product .content .cards .card img {
  width: 100%;
}
main .product .content .cards .card .card-content {
  padding: 10px;
}
main .product .content .cards .card .card-content h4 {
  max-width: 300px;
  text-align: start;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  color: #454f5b;
}
main .product .content .cards .card .card-content .price {
  text-align: start;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 23.87px;
  text-align: left;
  color: #161c24;
  padding-bottom: 5px;
}
main .product .content .cards .card .card-content .price del {
  color: #454f5b;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 21.48px;
  text-align: left;
  padding-left: 5px;
}
main .product .content .cards .card .card-content b {
  position: absolute;
  top: 14px;
  left: 10px;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.71px;
  text-align: left;
  color: #454f5b;
}
main .product .content .cards .card .card-content .sale {
  position: absolute;
  top: 8px;
  right: 5px;
  background: #fff;
  padding: 5px 10px;
  box-shadow: 2px 2px 5px rgba(73, 73, 73, 0.2);
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.32px;
  text-align: left;
  color: #161c24;
}
main .product .content .cards .card .card-content .gift {
  position: absolute;
  top: 50px;
  left: 10px;
  z-index: 1;
  padding: 5px 10px;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.32px;
  text-align: left;
  color: #161c24;
  background: rgba(255, 255, 255, 0.8196078431);
  box-shadow: 1px 1px 5px rgba(73, 73, 73, 0.2);
}
main .info .cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  flex-wrap: wrap;
}
main .info .cards .card {
  padding: 15px;
  max-width: 600px;
}
main .info .cards .card .checked {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}
main .info .cards .card .checked .check {
  width: 215px;
  display: flex;
  align-items: center;
  gap: 4px;
}
main .info .cards .card .checked .check .text {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #161c24;
}
main .info .cards .card .checked .check img {
  width: 16px;
}
main .info .cards .card img {
  width: 100%;
}
main .info .cards .card h3 {
  font-family: sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 42px;
  text-align: left;
  color: #161c24;
}
main .info .cards .card .card-text {
  padding: 24px 0;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  color: #454f5b;
}
main .contact {
  background: #f2f8ff;
}
main .contact .content h1 {
  font-family: sans-serif;
  font-size: 44px;
  font-weight: 600;
  line-height: 62px;
  text-align: center;
  color: #161c24;
  padding: 64px 0px 24px 0px;
}
main .contact .content p {
  max-width: 518px;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  margin: auto;
  color: #454f5b;
  padding-bottom: 24px;
}
main .contact .content form {
  padding-bottom: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
}
main .contact .content form input {
  width: 240px;
  padding: 12px 16px;
  outline: none;
  border: transparent;
  background: rgba(22, 28, 36, 0.0392156863);
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  color: #454545;
}
main .contact .content form button {
  width: 240px;
  padding: 12px 0;
  border: transparent;
  background: #4295e4;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  transition: 0.4s;
}
main .contact .content form button:hover {
  background: #2b71b2;
}
@media only screen and (max-width: 547px) {
  main .product .content h1 {
    font-size: 20px;
    line-height: 32px;
  }
  main .info .cards .card h3 {
    font-size: 24px;
  }
  main .contact .content h1 {
    font-size: 24px;
  }
}

footer {
  padding: 64px 0;
  background: #0d2436;
}
footer .cards {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 32px;
  flex-wrap: wrap;
}
footer .cards .card .Logo {
  padding-bottom: 140px;
}
footer .cards .card .links {
  display: flex;
  align-items: center;
  gap: 20px;
}
footer .cards .card h3 {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  text-align: left;
  color: #fff;
  padding-bottom: 52px;
}
footer .cards .card .link {
  max-width: 150px;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  text-align: left;
  color: #fff;
  display: block;
}
footer .cards .card .link + .links {
  padding-top: 16px;
}
footer .cards .card p {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
  color: #c4cdd5;
  padding: 5px 0;
}/*# sourceMappingURL=main.css.map */